*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
figure {
  display: block;
  font-size: 1em;
  font-family: 'Poppins';
  font-weight: normal;
  margin: 0;
  border-width: 0;
  opacity: 1;
}
.toast-error {
  background-color: rgb(244, 50, 50) !important;
}
.toast-success {
  background-color: rgb(9, 182, 87) !important;
}

div,
strong,
pre,
small {
  font-family: 'Poppins' !important;
}
strong {
  font-weight: bold !important;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

li {
  display: block;
  font-family: 'Poppins';
}

button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
}


@media (max-width: 99999px) {
  .max\:show {
    display: flex;
    flex-direction: column;
  }

  .xxxl\:show {
    display: none;
  }

  .xxl\:show {
    display: none;
  }

  .xl\:show {
    display: none;
  }

  .lg\:show {
    display: none;
  }

  .md\:show {
    display: none;
  }

  .sm\:show {
    display: none;
  }

  .xs\:show {
    display: none;
  }

  .max\:hide {
    display: none;
  }
}

@media (max-width: 2999px) {
  .xxxl\:show {
    display: flex;
  }

  .xxxl\:hide {
    display: none;
  }
}

@media (max-width: 1919px) {
  .xxl\:show {
    display: flex;
  }

  .xxl\:hide {
    display: none;
  }
}

@media (max-width: 1399px) {
  .xl\:show {
    display: flex;
  }

  .xl\:hide {
    display: none;
  }
}

@media (max-width: 1199px) {
  .lg\:show {
    display: flex;
  }

  .lg\:hide {
    display: none;
  }
}

@media (max-width: 991px) {
  .md\:show {
    display: flex;
  }

  .md\:hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .sm\:show {
    display: flex;
  }

  .sm\:hide {
    display: none;
  }
}

@media (max-width: 575px) {
  .xs\:show {
    display: flex;
  }

  .xs\:hide {
    display: none;
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (min-width: 1394px) {
  .mountainguide-block16.layout {
    width: 100% !important;
    padding: 0px 160px !important;
  }
  .container.nav-container-large {
    max-width: 100% !important;
    padding: 0px 160px !important;
  }
  .explore-us {
    justify-content: space-evenly !important;
  }
  .mountainguide-block70.layout {
    padding: 0px 108px !important;
  }
  .mountainguide-block48.layout1 {
    width:100% !important;
  }
  .mountainguide-block74.layout {
    display: flex !important;
    align-items: center !important;
  }
  .mountainguide-block74.layout .countrytab-box.layout {
    width: 25% !important;
  }
}
/* button */
@media screen and (max-width: 1294px) {
  .mega-tab {
    padding-left:70px;
  }
}
@media screen and (max-width: 1270px) {
  
  .mountainguide-block29.layout {
    width: 100% !important;
    right: 0px !important;
  }
  #blog-slider {
    margin-left: 0px !important;
  }
  .blogs_item {
    height: auto !important;
    width: auto !important;
    margin-left: 0px !important;
  }
  .details-tourname {
    font-size: 35px !important;
    line-height: 70px !important;
  }
  .mega-tab {
    padding-left:70px;
  }
  .tab-content{
    padding:0px 40px;
  }
}

@media screen and (max-width: 1192px) {
  .explore-us {
    flex-direction: column-reverse !important;
    margin-top: 0px !important;
    align-items: flex-start !important;
  }
  .mountainguide-hero-title1 {
    font-size: 26px !important;
  }
  .mountainguide-image10.layout {
    position: relative !important;
  }
  .mountainguide-block65-item1 {
    flex: none !important;
  }
  .mountainguide-block65-spacer {
    flex: 0 1 48px !important;
  }
  .mountainguide-image10.layout {
    height: auto !important;
  }
  .mountainguide-block65-item {
    flex: 0 1 290px !important;
  }

  .testimonials-section {
    height: auto !important;
  }

  .testimonials-item {
    width: 100% !important;
    height: auto !important;
  }
  .testimonial-title {
    height: auto !important;
  }
  .allblogs_item {
    width: 33% !important;
  }
  .search{
    left: 0px !important;
  }
  .mega-tab {
    padding-left:105px;
  }
  
 
}
@media screen and (min-width: 1192px) {
  .nav-link {
    padding: 8px 21px !important;
  }
}
/* navbar */
@media screen and (max-width: 992px) {
  .mobile-flex{
    display: flex;
  }
  .mobile-view1{
    padding:15px 0px !important;
  }
  .mobile-view1 i{
    margin-top:-3px !important;
  }
  .desktop-view {
    display: none !important;
  }

  .nav-link {
    height: 50px !important;
    padding-left: 16px !important;
  }
  .other-subcategory {
    position: absolute !important;
    border: none !important;
    border-radius: 0px !important;
    top: 20px !important;
    left: 0px !important;
    width: 100%;
  }
  .about-subcategory {
    width: 100% !important;
    left: 0px !important;
  }

  .other-subsubcategory {
    position: absolute !important;
    left: 0px !important;
    top: 35px !important;
    border: none !important;
    border-radius: 0px !important;
    width: 100%;
  }

  .navbar-collapse {
    z-index: 1 !important;
    position: absolute;
    top: 32px;
    left: 0px !important;
    width: 100% !important;
    height: 600px !important;
    overflow: scroll !important;
  }
  .navbar {
    padding-left: 0px !important;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .mountainguide-highlights2.layout {
    font-size: 14px !important;
  }

  /* .populartrekheading {
    display: flex !important;
    flex-direction: column !important;
  } */
  .populartrektitle.layout2 {
    height: auto !important;
  }
  .populartrek_item {
    margin-left: 0px !important;
  }
  .popular-container {
    margin-left: 0px;
  }
  .chooseus-title a {
    width: 100% !important;
  }
  .chooseus-para {
    width: 100% !important;
  }
  .mountainguide-block87.layout {
    margin: 50px 0px 0px !important;
  }
  .mountainguide-block73.layout {
    width: 100% !important;
    margin: 53px 0% 0px 0% !important;
  }
  .mountainguide-block77.layout {
    width: 100% !important;
    min-width: 100% !important;
  }

  /* #challenge-peak-slider .owl-item{
        width: 100% !important;
        margin-right: 0px !important;
    } */
  #blog-slider {
    padding: 0px !important;
  }
  .blog-right-side{
    padding:20px 0px 0px 0px !important;
  }
  .mountainguide-medium-title.layout1 {
    height: auto !important;
  }
  .owl-prev {
    margin-left: -20px !important;
  }
  .populartrek_item {
    width: 100% !important;
    height: auto !important;
  }
  .populartrek_title {
    height: auto !important;
  }
  .populartrektitle.layout2 {
    line-height: 35px !important;
  }
  .owl-prev {
    left: 6px !important;
  }
  .owl-next {
    right: -18px !important;
  }
  .blogs_image img {
    width: 100% !important;
  }
  .trekking-subcategory {
    position: absolute !important;
    width: 100% !important;
    left: 0px !important;
    height: 623px;
    top: 28px !important;
    border: none !important;
    border-radius: 0px !important;
    background: #ffffff;
    overflow: scroll !important;
  }
  .trek-flex {
    flex-direction:column;
    flex-wrap: wrap !important;
    padding: 22px 31px !important;
  }
  .nav-item {
    width: 100% !important;
  }
  .mobile-icon {
    position: absolute !important;
    width: 30px !important;
    background-color: #ffffff !important;
    left: 144px !important;
    top: 0px !important;
  }
  .mobile-icon:hover {
    background-color: #ffffff;
    color: #828282 !important;
  }
  .mobile-view {
    z-index: 2;
    position: absolute !important;
    top: 6px !important;
    left: 16px !important;
  }
  .navbar-nav .dropdown-menu {
    position: absolute !important;
    top:40px !important;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #0f4e93 !important;
    color: white !important;
    padding-top:15px !important ;
  }
  .dropdown-item:focus .mobile-view,
  .dropdown-item:hover .mobile-view {
    background-color: #0f4e93 !important;
    color: white !important;
  }
  .detailssection-content {
    top: 480px !important;
    padding: 0px 50px !important;
  }
  .key-facts {
    justify-content: space-between !important;
    align-items: stretch !important;
  }
  .bookprice {
    width:31%;
  }
  .tour-search{
    width: 47% !important;
  }
 
  /* blog */
  .blog-section {
    padding: 0px !important;
  }
  .blogs-details-image img {
    height: 230px !important;
  }
  .blog-title {
    font-size: 22px !important;
    line-height: 35px !important;
  }
  .details-tag {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }
  .blog-item {
    padding-left: 0px !important;
  }
  .bestsell-content {
    padding: 0px !important;
  }
  .datebtn {
    background-color: white !important;
    color: black !important;
    padding: 0px !important;
  }

  .country-nav .nav-item {
    width: auto !important;
  }
  .owntrip-book {
    margin-top: 10px !important;
  }

  .get-in-touch {
    flex-direction: column !important;
  }
  
.mountainguide-block70.layout{
  padding: 0 55px !important;
}
#best-sell-slider .owl-nav .owl-prev,#challenge-peak-slider .owl-nav .owl-prev{
  left: -15px !important;
}
#best-sell-slider .owl-nav .owl-next,#challenge-peak-slider .owl-nav .owl-next{
  right: -39px !important;
}
.image-flex{
  flex-direction: column;
}
.otherrelated-image{
  width:100% !important;
}
.first-image{
  width:100% !important;
}
#bookprice{
  margin-left:0px;
}
.mountainguide-block16.layout{
  width:100%;
}
.mountainguide-block23.layout{
  left:0px;
}
}
@media screen and (min-width: 992px) {
 
  .nav-item{
    padding:7px 0px;
  }
  .blog-right-side{
    padding:20px 0px 10px 25px !important;
  }
  .blog-left-side{
    margin-right: 25px !important;
  }
  .mobile-view1 {
    display: none !important;
  }
  .dropdown-item:hover {
    background-color: #0f4e93 !important;
    color: white !important;
    padding-top: 5px !important;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #0f4e93 !important;
    color: white !important;
    padding-top: 0px !important;
  }
  .about-subcategory {
    position: absolute !important;
    width: 218px;
    border: none !important;
    border-radius: 0px !important;
    background: #ffffff;
    top:32px !important;
    left: 22px !important;
    display: none;

  }
  .dropdown.sdt:hover .other-subsubcategory {
    display: block !important;
  }
  .mobile-view {
    display: none !important;
  }

  .trek-flex {
    flex-wrap: wrap !important;
    padding: 22px 150px !important;
  }
  .trekking-subcategory {
    position: absolute !important;
    width: 1351px !important;
    left: -200px !important;
    height: 623px;
    top: 32px !important;
    border: none !important;
    border-radius: 0px !important;
    background: #ffffff;
    overflow: scroll;
    display: none;
  }
  .other-subcategory {
    position: absolute !important;
    width: 281px;
    border: none !important;
    border-radius: 0px !important;
    background: #ffffff;
    top:32px !important;
    left: 22px !important;
    display: none;

  }
  .dropdown:hover .about-subcategory,.dropdown:hover .other-subcategory{
    display: block;
  }
  .dropdown:hover .trekking-subcategory{
    display: block;
  }
  .other-subsubcategory {
    position: absolute !important;
    width: 281px;
    border: none !important;
    border-radius: 0px !important;
    background: #ffffff;
    top: -8px !important;
    left: 280px !important;
  }
  
}

@media screen and (max-width: 768px) {
  .country-subtitle,
  .country-subtitle {
    font-size: 16px !important;
  }
  .mountainguide-block87 {
    justify-content: flex-start !important;
  }
  .mountainguide-highlights2.layout {
    font-size: 10px !important;
  }
  .mountainguide-hero-title {
    font-size: 26px !important;
  }
  .newsletter-flex {
    margin-left: 0px !important;
  }
  .testimonial-desc {
    flex-direction: column !important;
  }
  .testimonial-desc .testimonial-message {
    margin-left: 0px !important;
  }
  .star-review {
    flex-direction: column !important;
  }
  .show-star {
    flex-direction: row !important;
    padding-left: 0px !important;
  }
  .challenge-peak-layout {
    top: 240px !important;
    left: 0px !important;
    width: 100% !important;
    min-width: 100% !important;
  }
  .mountainguide-block77.layout {
    left: 0px !important;
  }
  .mountainguide-block71.layout {
    margin: 0px !important;
  }
  .mountainguide-block70.layout {
    padding: 0px 20px !important;
    margin-top: 20px !important;
  }
  .mountainguide-block48.layout1 {
    height: auto !important;
    width: 100% !important;
  }
  .mountainguide-hero-title {
    font-size: 14px !important;
  }
  .mountainguide-highlights1 {
    font-size: 12px !important;
  }
  /* .mountainguide-block28.layout {
    width: 34% !important;
    height: 42px !important;
  } */
  .mountainguide-image10.layout {
    width: 100% !important;
    min-width: 100% !important;
  }
  .mountainguide-block65-item1 {
    width: 100% !important;
  }
  .mountainguide-block74.layout {
    padding: 5px 88px;
  }
  .populartrektitle.layout2 {
    line-height: 30px !important;
  }
  #customNavs,
  #customNav {
    padding-left: 40px !important;
  }
  .explore-us {
    margin-bottom: 10px !important;
    margin-top: 0px !important;
  }
  .mountainguide-block66.layout {
    height: auto !important;
  }
  .mountainguide-block26.layout {
    width: 100% !important;
    margin:70px auto 187px !important;
  }
  .mountainguide-block25.layout {
    height: 230px !important;
  }
  .countrytab-title {
    font-size: 20px !important;
  }

  .mountainguide-highlights7 {
    font-size: 12px !important;
    width: 68% !important;
    padding: 9px 9px 10px 24px !important;
  }
  .mountainguide-highlights6 {
    font-size: 14px !important;
  }
  .mountainguide-hero-title1 {
    font-size: 18px !important;
  }
  .mountainguide-subtitle3 {
    font-size: 16px !important;
  }
  .mountainguide-hero-title11 {
    font-size: 20px !important;
  }
  .mountainguide-medium-title.layout1 {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .chooseus-title a {
    font-size: 14px !important;
  }
  .mountainguide-highlights5 {
    font-size: 14px !important;
  }
  .populartrektitle.layout2,
  .blogs_title {
    font-size: 20px !important;
  }
  .populartrek_title h5 {
    font-size: 18px !important;
  }
  .testimonials-item {
    margin-left: 0px !important;
  }
  #testimonial-slider .owl-dots {
    margin-top: 15px !important;
  }
  #popular-trek-slider .owl-dots {
    margin-top: 14px !important;
    display: none;
  }
  #blog-slider .owl-dots{
    display: none;
  }
  #testimonial-slider .owl-dots{
    display: none;
  }
  #customNav .owl-prev,
  #customNav .owl-next {
    left: 23px !important;
    font-size: 18px !important;
    height: 40px !important;
    width: 40px !important;
  }
  .explore-main-image {
    height: 238px !important;
    width: 166.621399px !important;
  }
  .explore-image {
    width: 139.43px !important;
    height: 179px !important;
  }
  .mountainguide-image11.layout {
    top: 123px !important;
    left: 89px !important;
    width: 121.43px !important;
    height: 195px !important;
  }
  .mountainguide-block89.layout {
    margin: 0px 0px 0px !important;
  }
  .chooseimage {
    top: 0px !important;
  }
  /* dtails */
  .details-first-nav {
    overflow-x: scroll !important;
  }
  .details-nav {
    display: flex !important;
  }
  .details-nav .item1 {
    width: 150px !important;
    height: 25px !important;
    border-bottom: none !important;
  }
  .fixeddetails-nav {
    justify-content: space-between !important;
  }
  /* .details-book {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 39px;
    padding: 6px;
    border-radius:0px;
  } */
  .details-footer-fixed{
    position: fixed;
    right: 0px;
    bottom:0px;
    z-index: 1;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .details-footer-fixed .profile-image{
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  .details-footer-fixed .details-book{
    padding: 6px 15px;
  }

  .bookprice {
    position: relative;
    width: 100%;
    top: 20px !important;
    margin: 0px !important;
  }
  .book-card {
    margin: 0px !important;
  }
  .details-image {
    height: 230px !important;
  }
  .detailssection-content {
    top: 260px !important;
    padding: 0px 12px !important;
    flex-direction: column;
  }
  .details-country {
    font-size: 17px !important;
    line-height: 20px !important;
  }
  .details-tourname {
    font-size: 20px !important;
    line-height: 20px !important;
  }
  .detailsprice {
    padding: 0px !important;
  }
  .details-price {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .image-flex {
    flex-direction: column !important;
  }
  .main-image {
    height: 160px !important;
  }
  .other-image {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .reverse-col {
    flex-direction: column !important;
  }
  .reverse-first {
    width: 100% !important;
  }

  .reverse-second {
    width: 100% !important;
  }
  .mountainguide-block77 {
    margin-bottom: 0px !important;
  }
  .testimonials-section {
    margin-top: 20px !important;
  }
  .blogs_section {
    margin-top: 20px !important;
  }
  .country-card {
    margin-bottom: 0px !important;
  }
  
  .allteam-first {
    flex-direction: column;
  }
  .team-content {
    padding: 0px 10px 3px 10px;
  }
  .allteam-first-reverse {
    flex-direction: column-reverse;
  }
  .team-name {
    font-size: 18px;
  }
  .top-header {
    padding: 10px 0 0 0 !important;
  }
  .aboutus-img {
    height: 230px;
  }
  .login-section .form-row {
    display: block;
  }
  .register-button {
    width: 100%;
  }
  .register-form .form-group {
    width: 100%;
  }
  .get-in-touch {
    justify-content: flex-start !important;
  }
  .contact-row {
    flex-direction: column-reverse;
  }
  .lb-outerContainer{
    width:100% !important;
  }
  .lb-image{
    width:100% !important;
  }
  .first-travel{
 flex-direction: column;
 margin-top:0px;
  }
  .second-travel{
flex-direction: column-reverse;
margin-top:0px;
  }
  .travels-single{
    margin:0px !important;
  }
  .travel-details {
    padding-left:0px !important;
  }
  .secondtravel-details{
    padding-right:0px !important;
  }
  .trip-div{
    margin-top:80px !important;
  }
  .mountainguide-block27.layout{
    top:0px;
  }
  .mountainguide-block28.layout{
    top: 0px;
  }.login-heading{
    align-items: flex-start;
  }
  .reverse-second{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .mountainguide-block23.layout {
    left:0px;
  }
}
@media screen and (max-width: 676px) {
  .country-main.layout {
    width: 100% !important;
    margin: 0px !important;
  }
 
  .footer-associated {
    flex-direction: column !important;
  }
  .footer-top {
    padding: 0px !important;
  }
  .footer-copyright p {
    margin-left: 0px !important;
  }
  .footer-newsletter {
    padding: 20px 0px 0px 0px !important;
    height: auto !important;
  }
  .newsletter-para {
    width: 100% !important;
    height: auto !important;
  }

  .newsletter-input {
    width: 100% !important;
  }

  .newsletter-title {
    width: 100% !important;
    height: auto !important;
  }
  .mountainguide-image11.layout {
    width: 100% !important;
    min-width: 100% !important;
  }
  .mountainguide-block16-item {
    flex-direction: column !important;
  }
  .search {
    width: 177% !important;
    margin-top: -5px !important;
  }
  .mountainguide-block3.layout {
    top: 0px !important;
  }
  .mountainguide-block2.layout {
    height: 165px !important;
    border-bottom: 1px solid #e7e0e0;
  }
  /* bestsell */
  .trip-title {
    font-size: 25px !important;
  }
  .bestsell-content {
    padding: 60px 0px !important;
  }
  .mountainguide-block15.layout {
    top: 40px !important;
  }
  .book-image {
    flex-direction: column !important;
  }
  .onlinebook-section {
    margin-top: 25px !important;
  }
  .allblogs_item {
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .explore-section,.best-sell-section,.choose-us-section,.populartrek_section,.best-sell-month,.testimonials-section,.blogs_section{
    margin-top:0px !important;
  }

  .mountainguide-block87 {
    flex-wrap: wrap !important;
  }
  .mountainguide-block87-item {
    flex: 0 1 653px;
    padding:0px !important;
    margin:0px !important;
  }
  .mountainguide-block89.layout {
    margin: 0px !important;
  }
  .owl-prev {
    left: 5px !important;
  }
  .owl-next {
    right: -19px !important;
  }
  .mountainguide-block66.layout {
    right: 0px !important;
  }

  .make-own-trip-subtitle1.layout3 {
    margin-top: -7px !important;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    left:-2px;
}
  #country-slide .owl-dots {
    display: none !important;
  }
  .countrytabsecond.layout {
    margin: 0px 0px 400px !important;
  }
  .online-booksection {
    margin: 0px !important;
  }
  .booktourdetails {
    margin-left: 0px !important;
  }
  .allblogs_section {
    margin-top: 60px !important;
  }
  .gallery-item img {
    height:150px !important;
  }
  .first-travel img,.second-travel img{
    height:230px;
  }
  .travel-title h2{
    font-size: 20px;
    line-height: 25px;
  }
  .duration{
    width:100%;
  }
  .mountainguide-block23.layout {
    left: 0px;
  }
  .footer-first-section{
    align-items: flex-start;
  }
  .mountainguide-block23.layout {
    left: -17px;
  }
  .mountainguide-block17.layout{
    margin:6px 0px 0px 0px;
  }
}
@media screen and (max-width: 462px) {
  .detailssection-content {
    top: 270px !important;
  }
  .footer-first-section {
    flex-direction: column !important;
  }
  .country-main {
    flex-wrap: wrap !important;
  }
  .explore-us {
    padding: 15px 44px !important;
  }
  
  .explore-image {
    width: 124px !important;
    height: 184px !important;
  }
  .explore-main-image {
    height: 230px !important;
    width: 139.621399px !important;
  }
  .mountainguide-image11.layout {
    top: 85px !important;
    height: 233px !important;
    left: 90px !important;
  }
  .top-header {
    flex-direction: column !important;
  }
 
  .onlineimage-section {
    flex-direction: column !important;
    margin-left: 0px !important;
  }
  .social-link{
    padding-left: 0px !important;
  }
  .mountainguide-block16.layout{
    width:100%;
  }
  #country-slide.owl-carousel,#testimonial-slider.owl-carousel{
    z-index:auto;
  }
 
}
/* topheader */
@media screen and (max-width: 392px) {
  .detailssection-content {
    top: 320px !important;
  }
  .bestsellicon {
    margin-left: 20px !important;
  }
  .search {
    width: 100% !important;
  }
  .mountainguide-block16.layout {
    flex-direction: column !important;
    width: 100% !important;
  }
  .mountainguide-block15.layout {
    height: auto !important;
    position: relative !important;
    z-index: 1 !important;
    border-bottom: 1px solid #e9e3e3;
  }
  .mountainguide-block16-item {
    flex: 0 !important;
    align-items: center !important;
  }

  .mountainguide-block17-item {
    flex: 0 !important;
  }
  .mountainguide-block3.layout {
    z-index: 2 !important;
    top: 0px !important;
  }
  .mountainguide-highlights5.layout {
    margin: 0px 0px 0px 13px !important;
  }
  .mountainguide-block55.layout {
    flex-grow: 0 !important;
    padding: 5px 10px !important;
  }
  .mountainguide-block2.layout {
    height: 216px !important;
  }
  .bestselldetailsheading a {
    font-size: 22px !important;
  }
  .bestselldetails {
    justify-content: flex-start !important;
    margin-top:0px !important;
  }
  .trip-div{
    margin-top:0px !important;
  }
  .mountainguide-icon1.layout{
    margin:0px;
  }
  #frames{
    z-index: 1;
  }
}
@media screen and (max-width: 298px) {
  .mountainguide-block55.layout {
    flex-grow: 0 !important;
    padding: 5px 0px !important;
  }
  .mountainguide-block55 {
    padding: 5px 0px !important;
  }
  .mountainguide-block26.layout{
    margin:35px auto 187px !important;
  }
  .mountainguide-block17 {
    flex-direction: column;
    align-items: center;
}


}
