/* menu */
header.header .container {
    padding: 0 15px;
    position: relative;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .dropdown-item {
    padding: 0.6rem 1rem;
  }
  .dropdown-menu {
    margin: 0;
    border-radius: 0;
    padding: 0;
    border: 0 solid #e5e5e5;
  }
  .header .navbar-nav li .nav-link {
    color: #333;
    font-size: 14px;
    padding: 28px 15px 27px 15px;
    z-index: 102;
    border: none;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .header .main-navigation.animated .navbar-nav li a {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header .navbar-nav li.dropdown .nav-link {
    padding-right: 20px;
  }
  .header .navbar-nav .active.show > .nav-link,
  .header .navbar-nav .show > .nav-link,
  .header .navbar-nav li .nav-link.show,
  .header .navbar-nav li .nav-link:focus,
  .header .navbar-nav li .nav-link:hover,
  .header .navbar-nav li.show .nav-link.active {
    z-index: 106;
  }
  .header .navbar-nav .active > .nav-link,
  .header .navbar-nav li .nav-link.active {
    background-color: transparent;
  }
  .header .navbar-nav .dropdown-toggle::after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    top: 43%;
    left: auto;
    right: 10;
    line-height: 20px;
    font-size: 14px;
    border: none;
    width: 20px;
    height: 20px;
    margin: 0;
    text-align: center;
    margin-top: -10px;
  }
  .mega-menu.dropdown {
    position: static;
  }
  .mega-menu > a {
    position: relative;
  }
  .header .navbar-nav li.mega-menu .dropdown-menu {
    left: 0;
    width: 100%;
    padding: 20px 30px;
  }
  .header .navbar-nav li.mega-menu .menu-item {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
    min-width: 0;
    background-color: transparent;
  }
  .mega-menu .menu-item li {
    position: relative;
  }
  .mega-menu h4.title {
    margin: 5px 0;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  .header .navbar-nav li.mega-menu .menu-item > li > a {
    padding: 5px 0;
    border-bottom: 1px solid #f7f7f7;
    display: block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    text-align: left;
    font-family: Poppins, sans-serif;
  }
  .header .navbar-nav li li:hover a,
  .header .navbar-nav li.mega-menu .menu-item > li:hover > a {
    background: #f5a13a;
    color: #fff;
    font-size: 14px;
  }
  .dropdown-menu > li > a i,
  .mega-menu .menu-item > li > a i {
    padding-left: 5px;
    font-size: 12px;
    width: 20px;
    position: relative;
    top: -1px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cdcdcd;
  }
  .dropdown-menu > li > a i.fa,
  .mega-menu .menu-item > li > a i.fa {
    width: 32px;
    text-align: center;
  }
  .mega-menu .menu-item > li:last-child > a {
    border-bottom: none !important;
  }
  .header .navbar-nav li.nav-item .dropdown-toggle.dropdown-item::after {
    content: '\f105';
    right: 5px;
  }
  header.header div.main-navigation.animated li.dropdown .dropdown-menu.show {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInSmallUp;
    -moz-animation-name: fadeInSmallUp;
    -ms-animation-name: fadeInSmallUp;
    -o-animation-name: fadeInSmallUp;
    animation-name: fadeInSmallUp;
  }
  .dropdown-menu.navbar-right {
    right: 0;
    left: auto;
  }
  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:hover {
    color: #fff;
    background-color: #0e4d94;
  }
  .menu-item .dropdown-item i {
    margin-right: 8px;
  }
  .product.price {
    font-size: 24px;
    font-weight: 400;
  }
  .dropdown-buttons {
    margin-left: 110px;
    margin-top: -15px;
  }
  .dropdown-buttons .dropdown-toggle::after {
    display: none;
  }
  .dropdown-buttons .btn-group .btn.active,
  .dropdown-buttons .btn-group .btn.hover,
  .dropdown-buttons .btn-group .btn:active,
  .dropdown-buttons .btn-group .btn:hover {
    background: #f5a13a;
    color: #fff;
  }
  .dropdown-buttons .btn-group .btn:focus {
    box-shadow: none;
  }
  .dropdown-buttons .btn-group .btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 38px;
    background: #eee;
    font-size: 0.8rem;
    border: none;
  }
  .dropdown-buttons .menu-search-box form .form-group,
  .dropdown-buttons .menu-search-box form .form-group .form-control {
    margin-bottom: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
  }
  .search-input-box:focus {
    border: 1px solid #000 !important;
  }
  .dropdown-buttons .menu-search-box ul {
    padding: 20px;
    border: 0;
    min-width: 280px;
    position: absolute;
    left: 60px;
    border-radius: 10px 0 10px 10px;
  }
  .dropdown-buttons .menu-search-box .search-box i {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: -7px;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 0;
    background: #0e4d94 !important;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .dropdown-buttons .menu-search-box .search-box i:hover {
    background: #333;
  }
  .dropdown-buttons .dropdown-menu-right {
    position: absolute;
    transform: translate3d(-310px, 40px, 0);
    top: 0;
    left: 0;
    will-change: transform;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .fixed-header {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  @media (min-width: 1200px) {
    .main-navigation .navbar-nav > li:first-child {
      margin: 0;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .header .navbar-nav li .nav-link {
      padding: 28 12 27 12;
    }
    .header .navbar-nav li.dropdown .nav-link {
      padding-right: 18px;
    }
  }
  @media (min-width: 320px) and (max-width: 991px) {
    .header .navbar-nav li .nav-link {
      padding: 15px 0;
    }
  }
  .bg-transparent {
    z-index: 8;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top-color: #a0a0a0;
  }
  .transparent-dark {
    z-index: 22;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    border-top-color: #a0a0a0;
  }
  ul.navbar-nav li.nav-item a.dropdown-item,
  ul.navbar-nav li.nav-item div.dropdown-menu .dropdown a.dropdown-item,
  ul.navbar-nav
    li.nav-item.mega-menu
    div.dropdown-menu
    .menu-item
    a.dropdown-item {
    border-bottom: 1px solid #f5f5f5;
  }
  .header .menu-style.bg-transparent .navbar-nav li a.nav-link {
    color: #fff;
  }
  .header .menu-style.bg-transparent .fixed-header .navbar-nav li a.nav-link {
    color: #fff;
  }
  .header .menu-style.transparent-dark .navbar-nav li a.nav-link {
    color: #fff;
  }
  .header .menu-style.transparent-dark .fixed-header .navbar-nav li a.nav-link {
    color: #fff;
  }
  .header .menu-style.bg-transparent .navbar-nav li.active a.nav-link,
  .header .menu-style.bg-transparent .navbar-nav li:focus a.nav-link,
  .header .menu-style.bg-transparent .navbar-nav li:hover a.nav-link {
    color: #f5a13a;
  }
  .header .menu-style .navbar-nav li.active a.nav-link,
  .header .menu-style .navbar-nav li:focus a.nav-link,
  .header .menu-style .navbar-nav li:hover a.nav-link {
    color: #f5a13a;
  }
  .header .menu-style.menu-hover-1 .navbar-nav li.active a.nav-link,
  .header .menu-style.menu-hover-1 .navbar-nav li:focus a.nav-link,
  .header .menu-style.menu-hover-1 .navbar-nav li:hover a.nav-link {
    background: #f5a13a;
    color: #fff;
  }
  .header .menu-style.menu-hover-2 .navbar-nav li.active a.nav-link,
  .header .menu-style.menu-hover-2 .navbar-nav li:focus a.nav-link,
  .header .menu-style.menu-hover-2 .navbar-nav li:hover a.nav-link {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  