@media only screen and (max-width: 1739px) {
  .slide-text.st-two {
    top: 50%;
  }
  .slide-text.st-two h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .slide-text.st-two h1:before {
    width: 305px;
  }
  .slide-text.st-two h2 {
    font-size: 50px;
    line-height: 62px;
  }
  .slide-style-center.slide-text.st-two h2 {
    margin: 0 auto 30px;
  }
  .package-box {
    left: 67%;
    top: 16.3%;
  }
  .slide-style-right.package-box {
    left: 19.5%;
  }
  .package-box:after {
    height: 300px;
    left: -18%;
    top: 18px;
    width: 300px;
  }
  .package-box:before {
    bottom: -95px;
    height: 120px;
    left: -35px;
    width: 285px;
  }
  .package-box h1 {
    font-size: 44px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .package-box h4 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .package-box a {
    margin-left: 10px;
  }
  .svg {
    margin-top: 170px !important;
  }
}
@media only screen and (max-width: 1479px) {
  .slide-text {
    top: 34%;
  }
  .slide-text .title-box h2 {
    font-size: 38px;
    line-height: 48px;
    max-width: 450px;
  }
  .slide-text .btn-box .btn-theme {
    padding: 8px 20px;
    font-size: 14px;
  }
  .welcome-section {
    margin-top: -45px;
  }
  .svg {
    margin-top: 170px !important;
  }
  .elephant {
    width: 511px !important;
    left: 107px !important;
    top: 65px !important;
    height: 323px !important;
  }
  #tiger {
    top: 219px !important;
    left: 689px !important;
    width: 380px !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1479px) {
  .carousel-item {
    min-height: 550px;
  }
  video {
    min-height: 550px !important;
  }
  .carousel-item .slide-image {
    min-height: 550px;
  }
  .package-box {
    left: 70%;
    top: 38%;
  }
  .slide-style-right.package-box {
    left: 14.5%;
  }
  .svg {
    margin-top: 170px !important;
  }
  .elephant {
    width: 511px !important;
    left: 107px !important;
    top: 78px !important;
    height: 323px !important;
  }
  #tiger {
    top: 233px !important;
    left: 689px !important;
    width: 380px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .header .navbar-nav {
    margin-right: 0;
    padding-right: 10px;
  }
  .header .dropdown-buttons {
    margin-left: 7px;
  }
  .header .dropdown-buttons .btn-group {
    float: left;
  }
  .header .dropdown-buttons .btn-group .btn {
    width: 30px;
  }
  .slide-text {
    top: 39%;
  }
  .slide-text .title-box h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 26px;
    max-width: 300px;
  }
  .slide-text .btn-box .btn-theme {
    font-size: 14px;
    padding: 8px 14px;
  }
  .slide-text {
    width: 960px;
  }
  .slide-text.st-two h1 {
    font-size: 40px;
  }
  .slide-text.st-two h2 {
    font-size: 40px;
    line-height: 52px;
    max-width: 500px !important;
  }
  .slide-text.st-two h1:before {
    width: 245px;
  }
  .icon-wrp .icon-box {
    width: 19.68%;
  }
  .feature-item .content h3 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .svg {
    margin-top: 170px !important;
  }
  .elephant {
    width: 435px !important;
    left: 137px !important;
    top: 145px !important;
    height: 290px !important;
  }
  #tiger {
    top: 271px !important;
    left: 623px !important;
    width: 302px !important;
  }
  .footer-copy-right p {
    color: #fff !important;
  }
  .forest {
    top: 270px !important;
  }
  .svg {
    height: 90% !important;
    margin-top: 170px !important;
  }
  .top-bar .social-icons ul li {
    margin-right: 11px;
  }
  .carousel-item {
    min-height: 530px;
  }
  video {
    min-height: 530px;
  }
  .carousel-item .slide-image {
    min-height: 530px;
  }
  .welcome-feature .content h2 {
    font-size: 17px;
  }
  .welcome-feature .icon-box {
    line-height: 42px;
  }
  .contact-text .contact-info .icon-box {
    border: none;
  }
  .contact-text .contact-info h6 {
    font-size: 11px;
  }
  .special-places .content .price-box {
    width: 25%;
  }
  .special-places .content .price-box h6 {
    font-size: 10px;
  }
  .special-places .content .title-box {
    width: 75%;
  }
  .special-places .content .title-box h4 {
    font-size: 13px;
  }
  .special-places .content .title-box h3 {
    font-size: 13px;
  }
  .special-places .content .info li a {
    font-size: 11px;
  }
  .latest-hotel .content h4 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 991px) {
  .mobile-view {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .elephant {
    width: 308px !important;
    left: 0 !important;
    top: 334px !important;
    height: 200px !important;
  }
  #tiger {
    height: 155px !important;
    top: 376px !important;
    left: 668px !important;
    width: 317px;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .header .dropdown-menu.left-1::before {
    display: none;
  }
  .di-menu::before {
    display: none;
  }
  .svg {
    margin-top: 10px !important;
  }
  .header.header-style-1 .menu-style .main-mega-menu .navbar .navbar-collapse {
    background-color: #fff !important;
  }
  .header .navbar-nav .active > .nav-link,
  .header .navbar-nav li .nav-link.active {
    background-color: #ffcd22;
  }
  .header .menu-style.bg-transparent .navbar-nav li a.nav-link {
    color: #000 !important;
  }
  .header .menu-style.bg-transparent .navbar-nav li.active a.nav-link,
  .header .menu-style.bg-transparent .navbar-nav li:focus a.nav-link,
  .header .menu-style.bg-transparent .navbar-nav li:hover a.nav-link {
    color: #fff;
    background-color: #ffcd22;
  }
  .header.header-style-1 .navbar-nav {
    padding-right: 0;
  }
  .header .dropdown-buttons {
    display: none;
  }
  .header .menu-style .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 0.65);
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    margin-top: 3px;
  }
  .header .menu-style .navbar-toggler:active,
  .header .menu-style .navbar-toggler:focus {
    outline: 0;
  }
  .slide-text.home-3 {
    top: 48.5%;
  }
  .slide-text .title-box h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 18px;
    max-width: 295px;
  }
  .slide-text {
    width: 720px;
  }
  .slide-text.st-two {
    top: 50%;
  }
  .slide-text.st-two h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .slide-text.st-two h1::before {
    bottom: 0;
    height: 10px;
    width: 184px;
  }
  .slide-text.st-two h2 {
    font-size: 30px;
    line-height: 42px;
    max-width: 300px !important;
  }
  .slide-style-center.slide-text.st-two h2 {
    margin: 0 auto 20px;
  }
  .package-box:before {
    bottom: -75px;
    height: 70px;
    left: -16px;
    width: 220px;
  }
  .package-box:after {
    height: 250px;
    left: -18%;
    top: 18px;
    width: 250px;
  }
  .package-box h1 {
    font-size: 35px;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: -5px;
  }
  .package-box h4 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .package-box a {
    margin-left: 0;
  }
  .package-box {
    left: 62%;
    top: 34.3%;
  }
  .welcome-section {
    margin-top: -25px;
  }
  .icon-wrp .icon-box {
    width: 19.57%;
    position: relative;
    top: 64px;
  }
  .icon-wrp {
    flex-direction: column-reverse;
  }
  .animated-button1 {
    left: 0;
    width: 220px;
  }
  .special-places {
    margin-bottom: 30px;
  }
  .special-places .content .title-box h4 {
    font-size: 15px;
  }
  .video-content {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .latest-hotel {
    border-bottom: 1px solid rgba(202, 202, 202, 0.22);
    margin-bottom: 30px;
  }
  .latest-hotel .content {
    border-bottom: none;
  }
  .latest-hotel .content h4 {
    font-size: 22px;
  }
  .latest-hotel .content p {
    margin-bottom: 25px;
    margin-top: 22px;
  }
  .contact-section .style-2 {
    border-top: 1px solid #ffcd22;
  }
  .forest {
    top: 600px !important;
  }
  .svg {
    height: 83% !important;
  }
}
@media only screen and (min-width: 768px) {
  video {
    width: 100%;
  }
  .footer-copy-right p {
    color: #fff !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .feature-item {
    height: 315px;
  }
  .elephant {
    width: 308px !important;
    left: 0 !important;
    top: 334px !important;
    height: 200px !important;
  }
  #tiger {
    height: 155px !important;
    top: 376px !important;
    left: 540px !important;
    width: 317px;
  }
  .country-tab {
    max-width: 66% !important;
  }
  .carousel-item {
    min-height: 550px;
  }
  video {
    min-height: 550px;
  }
  .carousel-item .slide-image {
    min-height: 400px;
  }
  .section-title h2 {
    font-size: 22px;
  }
  .section-title h4 {
    font-size: 15px;
  }
  .welcome-feature-section .col-md-4 {
    padding: 0;
  }
  .welcome-feature .content {
    margin-left: 12px;
  }
  .welcome-feature .content h2 {
    font-size: 17px;
    padding-left: 7px;
  }
  .welcome-feature .icon-box {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .forest {
    top: 1215px !important;
  }
  .svg {
    height: 184% !important;
  }
  #tiger {
    top: 1043px !important;
    left: 44px !important;
    width: 514px !important;
  }
  .elephant {
    width: 531px !important;
    left: 36px !important;
    top: 206px !important;
  }
  #country-booking {
    flex-direction: column-reverse;
  }
  #custom-booking {
    text-align: center;
  }
  .cbutton {
    height: 50px;
    padding: 2px 22px;
  }
  .icon-wrp {
    padding: 11px 33px;
  }
  .header .menu-style #logo_img {
    padding: 5px 0;
    width: 120px;
  }
  .package-box {
    display: none;
  }
  .slide-style-right.slide-text.st-two h1:before,
  .slide-text.st-two h1::before {
    width: 152px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .slide-text.st-two h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .slide-style-right.slide-text.st-two h2,
  .slide-text.st-two h2 {
    font-size: 20px;
    line-height: 25px;
    max-width: 300px !important;
    margin: 117px auto 20px;
    float: none;
  }
  .slide-style-center.slide-text.st-two div.btn-box {
    display: none;
  }
  .slide-style-left,
  .slide-style-right {
    text-align: center !important;
  }
  .welcome-feature-section.style-2 .section-title h2:after {
    display: none;
  }
  .welcome-feature-section.style-2 .section-title h4 {
    margin-left: 25px;
  }
  .welcome-feature-section.style-2 .section-title h2 {
    margin-left: 15px;
    font-size: 35px;
    line-height: 45px;
  }
  .testimonials-post {
    padding: 30px 34px 0;
  }
  .border-style-3:after {
    left: 0 !important;
    margin: 0 auto;
    right: 0;
  }
  .blog-small-item {
    margin-bottom: 56px;
  }
  .header .col-lg-10 {
    width: 100%;
  }
  .header .col-lg-2 {
    width: 100%;
  }
  .company-list {
    margin-left: 26px;
  }
  .icon-wrp .icon-box {
    width: 19.2%;
  }
  .icon-wrp .icon-box h5 {
    font-size: 14px;
  }
  .icon-wrp .icon-box a {
    font-size: 12px;
  }
  .feature-item {
    margin-bottom: 30px;
  }
  .special-packages {
    margin-bottom: 30px;
  }
  .special-packages .content .small-hotel .thumb {
    width: auto;
  }
  .latest-hotel .thumb {
    margin-bottom: 30px;
    width: 100%;
  }
  .latest-hotel .content {
    width: auto;
  }
  .gallery-item .thumb .overlay .icon {
    height: 25px;
    line-height: 24px;
    width: 25px;
  }
  .gallery-item .thumb .overlay .icon i {
    font-size: 15px;
  }
  .gallery-item .thumb .overlay h4 {
    font-size: 14px;
  }
  .footer-item.footer-widget-one {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .welcome-feature .content h2 {
    padding-left: 88px;
  }
  .footer-copy-right p {
    color: #fff !important;
  }
}
@media only screen and (max-width: 575px) {
  #tiger {
    top: 1043px !important;
    left: 44px !important;
    width: 300px !important;
  }
  .elephant {
    width: 312px !important;
    left: 36px !important;
    top: 585px !important;
  }
  .forest {
    top: 1336px !important;
  }
  .svg {
    height: 163% !important;
    width: 100% !important;
  }
  .section-title h2 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .carousel-item {
    height: 550px;
  }
  video {
    min-height: 550px !important;
  }
  .carousel-item .slide-image {
    height: 550px;
  }
  .icon-wrp {
    padding-left: 0;
    text-align: center;
  }
  .icon-wrp #icon-menu {
    width: 23%;
    position: relative;
    top: 17px;
  }
  .icon-wrp .icon-box h5 {
    font-size: 13px;
  }
  .icon-wrp .icon-box a {
    font-size: 12px;
  }
  .latest-hotel .content h4 {
    font-size: 18px;
  }
  .testimonials-post .testimonials-item .thumb {
    position: relative;
  }
  .testimonials-post .testimonials-item .thumb img {
    margin: 0 auto 20px;
  }
  .testimonials-post .testimonials-item .content {
    padding-left: 0;
    text-align: center;
  }
  .owl-navst.st-three.owl-theme .owl-nav {
    top: -60px;
  }
  .tab-style .nav.nav-tabs .nav-item {
    font-size: 12px;
    min-width: 113px;
    padding: 6px 5px;
    margin-right: 6px;
  }
  .owl-navst.st-two.owl-theme .owl-nav {
    top: 177px;
  }
  .owl-navst.st-two.owl-theme .owl-nav .owl-next,
  .owl-navst.st-two.owl-theme .owl-nav .owl-prev {
    background-color: #255669;
    border-radius: 0;
    height: 39px;
  }
  .owl-navst.st-two.owl-theme .owl-nav .owl-prev {
    right: 39px;
  }
  .gallery-items .col-grid {
    margin-bottom: 30px;
    padding: 0 15px;
  }
  .booking-form .nav.nav-tabs .nav-item {
    font-size: 14px;
  }
  .booking-form .form-row {
    padding: 14px 20px 72px;
  }
  .special-places {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 575px) {
  .welcome-feature .content h2 {
    padding-left: 88px;
  }
  .svg {
    height: 163% !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 435px) {
  .svg {
    height: 165% !important;
    width: 100% !important;
  }
  .crt {
    margin-left: 100px;
  }
  .crt::before {
    transform: rotate(90deg) !important;
    top: 78px !important;
    left: 61px !important;
  }
  .owl-navst.st-three.owl-theme .owl-nav {
    top: -25px;
  }
  .icon-wrp .icon-box {
    width: 19.57%;
    position: relative;
    top: 64px;
  }
  .special-packages .content {
    padding: 22px 12px 20px;
  }
  .special-packages .post-title-box {
    padding: 10px 0 10px 10px;
  }
  .special-packages .post-title-box .price-box h6 {
    font-size: 12px;
  }
  .special-packages .content .info li a {
    font-size: 11px;
  }
  .special-packages .content .small-hotel .thumb {
    float: left;
    padding-left: 0;
    width: 60%;
  }
  .contact-section.pt-90 {
    padding-top: 120px !important;
  }
  .contact-section.pt-90.pb-90 {
    padding-bottom: 0 !important;
  }
  .latest-hotel .thumb:before {
    display: none;
  }
  .latest-hotel .content .btn-theme {
    width: 285px;
    text-align: center;
    padding: 15px 0;
    margin-left: 18px;
  }
  .latest-hotel {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 410px) {
  .icon-wrp #icon-menu {
    position: relative;
    top: 46px;
    height: 10px;
  }
}
@media only screen and (max-width: 391px) {
  .svg {
    height: 239% !important;
    width: 100% !important;
  }
  .mountains {
    height: 847px !important;
  }
  #tiger {
    width: 200px !important;
  }
  .elephant {
    width: 200px !important;
  }
  .carousel-item {
    height: 360px;
  }
  video {
    height: 360px;
  }
  .carousel-item .slide-image {
    height: 3600px;
  }
  .icon-wrp {
    padding-left: 55px;
  }
  #logo_img {
    height: 50px !important;
  }
}
@media only screen and (max-width: 375px) {
  .slide-text.st-two {
    top: 30%;
  }
  .special-packages .content .small-hotel .thumb img {
    width: 95px;
  }
  .icon-wrp {
    padding-left: 55px;
  }
}
@media only screen and (max-width: 371px) {
  .section-title h2 {
    font-size: 20px;
  }
  .welcome-feature .content h2 {
    font-size: 17px;
  }
  .welcome-feature .icon-box {
    line-height: 42px;
  }
  .special-places .content {
    padding: 20px 19px;
  }
  .special-places .content .price-box {
    width: 100%;
  }
  .special-places .content .price-box h5 {
    display: inline-block;
    margin-right: 7px;
  }
  .special-places .content .price-box h6 {
    display: inline-block;
  }
  .special-places .content .title-box {
    border-top: 1px solid rgba(221, 221, 221, 0.7);
    margin-top: 3px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-top: 11px;
    width: 100%;
  }
  .special-places .content .title-box:before {
    display: none;
  }
  .special-places .content .info li a {
    font-size: 11px;
  }
  .footer-item.footer-widget-one {
    margin-bottom: 40px;
  }
  .icon-wrp {
    padding-left: 55px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .dropdown-buttons {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .company-list {
    margin-left: 0;
  }
  .icon-wrp {
    padding-left: 23px;
  }
  .footer-copy-right {
    margin-top: -20px;
  }
  #tiger {
    width: 180px !important;
  }
  .elephant {
    width: 180px !important;
  }
  .svg {
    height: 256% !important;
    width: 90vw !important;
  }
}
